
{% extends "base.html" %}

{% block content %}


<h1>{{ post.title }}</h1>

<small>By: {{ post.author.first_name }} - {{ post.author.last_name }}</small>
<hr>
<br />
{{ post.description|safe }}
<br/>
<img src="{{ post.cover }}" class="rounded float-start" alt="{{ post.title }}">
<br/>
<a href="{% url 'home' %}"  class="btn btn-secondary">Back</a>
<br/>
<br/>
{% if user.id == post.author.id %}
<a href="{% url 'update_post' post.pk %}" class="btn btn-primary">Update View</a>
<br/>
<br/>
<a href="{% url 'delete_post' post.pk  %}" class="btn btn-primary">Delete View</a>
{% endif %}
{% endblock %}

