
{% extends "base.html" %}

{% block content %}


<h1>{{ post.title }}</h1>

<small>By: {{ post.author.first_name }} - {{ post.author.last_name }}</small>
<hr>
<br />
{{ post.description|safe }}
<br/>
<img src="{{ post.cover }}" class="rounded float-start" alt="{{ post.title }}">
<br/>
<a href="{% url 'home' %}"  class="btn btn-secondary">Back</a>
<br/>
<br/>
{% if user.id == post.author.id %}
<a href="{% url 'update_post' post.pk %}" class="btn btn-primary">Update View</a>
<br/>
<br/>
<a href="{% url 'delete_post' post.pk  %}" class="btn btn-primary">Delete View</a>
{% endif %}
<br/><br/>
<hr/> 
<br/>
<br/>
{% if request.user.is_authenticated %}
<form action="{% url 'like_post' post.pk %}" method="POST">
  {% csrf_token %}
    {% if liked %}
        <button type="submit", name="post_id", value="{{ post.pk }}", class="btn btn-dangre btn btn-sm">
        Unlike
        </button>
    {% else %}
        <button type="submit", name="post_id", value="{{ post.pk }}", class="btn btn-primary btn btn-sm">
            Like
        </button>
    {% endif %}
{% else %}
<small>Login to like</small>
{% endif %}
  - {{ total_likes }} likes
  
</form>

{% endblock %}

