{% extends "base.html" %}

{% block content %}


<h1>Change Password</h1>

<div class="form-group">
    <form method="post"  class="form-control form-control-lg" type="text" enctype="multipart/form-data" >
        {% csrf_token %}
    {{form.as_p}}
        <button type="submit" class="btn btn-secondary">Change Password</button>
    
    </form>
<br/>
<br/>
<ul>
    <li>Similarity of the password and username;</li>
    <li>Minimum length of the password;</li>
    <li>Password similar to common passwords (20.000 records);</li>
    <li>Password not entirely numeric;</li> 



</ul>
</div>
{% endblock %}